
body{
margin:0;
font-family:Arial;
background:black;
color:white;
overflow-x:hidden;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111;
height:80px;
position:sticky;
top:0;
z-index:1000;
width:100%;
box-sizing:border-box;
}

nav h1{
color:#f5c542;
font-size:42px;
font-weight:bold;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
align-items:center;
}

nav a{
color:white;
text-decoration:none;
font-size:18px;
font-weight:500;
transition:0.3s;
}

nav a:hover{
color:#f5c542;
}

/* MENU ICON */

.menu-icon{
display:none;
font-size:38px;
cursor:pointer;
color:#f5c542;
}

/* SIDEBAR */

.sidebar{
position:fixed;
top:0;
right:-250px;
width:250px;
height:100%;
background:#111;
padding-top:70px;
transition:0.3s;
z-index:2000;
}

.sidebar a{
display:block;
padding:18px;
color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.sidebar a:hover{
background:#f5c542;
color:black;
}

.sidebar.active{
right:0;
}

/* HERO SECTION */

.hero{
min-height:110vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(to right, black, #1a1a1a);
padding:20px;
padding-bottom:140px;
padding-top:0px;
box-sizing:border-box;
}

.logo{
width:220px;
margin-top:-35px;
margin-bottom:15px;
filter:drop-shadow(0 0 22px #f5c542);
transition:0.4s;
cursor:pointer;
}

.logo:hover{
transform:scale(1.06);
}

.hero-text h2{
font-size:50px;
color:#f5c542;
margin-bottom:10px;
font-weight:bold;
line-height:1.2;
}

.hero-text p{
font-size:16px;
margin-bottom:20px;
color:white;
line-height:1.6;
padding:0 10px;
}

.hero-text button{
padding:14px 35px;
background:#f5c542;
border:none;
border-radius:8px;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:0.3s;
}

.hero-text button:hover{
background:white;
transform:scale(1.05);
}

/* PRODUCTS */

.products{
padding:40px;
padding-bottom:120px;
text-align:center;
}

.products h2{
font-size:55px;
color:#f5c542;
margin-bottom:40px;
font-weight:bold;
}

.product-container{
display:flex;
gap:25px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#111;
padding:20px;
width:250px;
border-radius:12px;
transition:0.3s;
}

.card:hover{
transform:translateY(-5px);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:10px;
transition:0.3s;
}

.card img:hover{
transform:scale(1.05);
}

.card h3{
font-size:24px;
}

.card p{
font-size:22px;
}

.desc{
font-size:14px;
color:#ccc;
line-height:1.5;
margin:10px 0;
min-height:60px;
}

.card button{
padding:10px 20px;
background:#f5c542;
border:none;
cursor:pointer;
font-weight:bold;
border-radius:8px;
transition:0.3s;
}

.card button:hover{
background:white;
transform:scale(1.05);
}

/* SEARCH */

.search-box{
display:flex;
justify-content:center;
align-items:center;
margin-top:30px;
margin-bottom:20px;
}

.search-box input{
width:350px;
padding:14px;
border:none;
border-radius:8px;
font-size:16px;
text-align:center;
}

/* CART */

.cart{
padding:40px;
padding-bottom:140px;
text-align:center;
}

.cart-item{
background:#111;
padding:15px;
margin:10px auto;
width:300px;
border-radius:10px;
}

.cart-image{
width:100px;
height:100px;
object-fit:cover;
border-radius:10px;
}

.plus-btn,
.minus-btn,
.remove-btn{
padding:5px 10px;
margin:5px;
cursor:pointer;
border:none;
border-radius:5px;
}

.bill-box{
background:#111;
padding:20px;
width:300px;
margin:auto;
border-radius:10px;
}

/* BUTTONS */

#open-address,
#checkout-btn,
#order-btn,
#save-address,
.auth-box button{
padding:12px 25px;
background:#f5c542;
color:black;
border:none;
border-radius:8px;
font-weight:bold;
cursor:pointer;
font-size:16px;
transition:0.3s;
}

#checkout-btn:hover,
#order-btn:hover,
#open-address:hover,
#save-address:hover,
.auth-box button:hover{
background:white;
transform:scale(1.05);
}

.cart-buttons{
display:flex;
justify-content:center;
gap:15px;
margin-top:25px;
flex-wrap:wrap;
}

/* CONTACT */

.contact{
padding:40px;
padding-bottom:120px;
text-align:center;
}

.contact form{
display:flex;
flex-direction:column;
width:300px;
margin:auto;
}

.contact input,
.contact textarea,
.auth-box input,
.popup-content input,
.popup-content textarea{
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
}

/* LOGIN SIGNUP */

.auth-box{
width:300px;
margin:100px auto;
background:#111;
padding:30px;
border-radius:10px;
text-align:center;
}

/* POPUP */

#popup{
position:fixed;
top:20px;
left:50%;
transform:translateX(-50%);
background:#f5c542;
color:black;
padding:10px 20px;
display:none;
border-radius:8px;
font-weight:bold;
z-index:5000;
}

/* ADDRESS POPUP */

.address-popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
display:none;
justify-content:center;
align-items:center;
z-index:3000;
}

.popup-content{
background:#111;
padding:30px;
width:300px;
position:relative;
border-radius:10px;
}

#close-popup{
position:absolute;
right:15px;
top:10px;
cursor:pointer;
font-size:25px;
}

/* BOTTOM NAV */

.bottom-nav{
position:fixed;
bottom:0;
left:0;
width:100%;
background:#111;
display:flex;
justify-content:space-around;
align-items:center;
padding:8px 0;
height:60px;
z-index:1000;
border-top:1px solid #333;
}

.bottom-nav a{
color:#f5c542;
text-decoration:none;
font-size:13px;
display:flex;
flex-direction:column;
align-items:center;
transition:0.3s;
font-weight:bold;
}

.bottom-nav a:hover{
transform:scale(1.08);
}

.bottom-nav .active{
color:#f5c542;
}

/* MOBILE */

 
@media(max-width:768px){

nav{
padding:12px 15px;
height:70px;
}

nav h1{
font-size:22px;
line-height:1.1;
}

nav ul{
display:none;
}

.menu-icon{
display:block;
position:absolute;
right:15px;
top:12px;
font-size:38px;
}

/* HERO FIXED */

.hero{
min-height:100vh;
padding:10px 15px 130px;
justify-content:flex-start;
padding-top:35px;
}

.logo{
width:260px;
margin-top:0px;
margin-bottom:20px;
}

.hero-text h2{
font-size:26px;
line-height:1.3;
margin-bottom:10px;
}

.hero-text p{
font-size:13px;
line-height:1.5;
margin-bottom:18px;
padding:0 10px;
}

.hero-text button{
padding:11px 24px;
font-size:15px;
margin-bottom:20px;
}

.search-box input{
width:85%;
}

.products h2{
font-size:38px;
}

.card{
width:85%;
max-width:300px;
}

}

















